body {
  font-family: Arial;
  background: #eef2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 320px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #10b981;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #312e81;
}
